Vous recevez ce mail car vous avez demandé la réinitialisation de votre mot de passe sur le site {{site_name}}.

Veuillez vous rendre sur cette page et choisir un nouveau mot de passe :

{% comment %}
{{ protocol}}://{{ domain }}{% url 'auth_password_reset_confirm' uidb36=uid token=token %}
{% endcomment %}
{{ protocol}}://{{ domain }}{% url 'auth_password_reset_confirm' uidb64=uid token=token %}


Votre nom d'utilisateur, en cas d'oubli: {{user.username}}

Merci d'utiliser notre site !

L'équipe {{site_name}}