{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% block content %}
<h1>Changement de mot de passe</h1>
{% if validlink %}
<p>Vous pouvez saisir votre nouveau mot de passe dans ce formulaire</p>

<form method="post" class="well" action="" >
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white" ></i>Valider le changement</button>
  </div>
</form>
{% else %}
<p>Ce lien n'est plus valide, veuillez <a href="{% url 'auth_password_reset' %}">recommencer</a> depuis le début si vous souhaitez réinitialiser votre mot de passe.</p>
{% endif %}
{% endblock %}

