{% extends "registration/base.html" %}
{% block corps %}
<h1>Inscription enregistrée</h1>
<p>Un mail vient de vous être envoyé pour valider votre inscrption.<br />
Il ne vous reste plus qu'à cliquer sur le lien présent dans le mail d'activation pour pouvoir poursuivre et commencer à utiliser cet outil.</p>
<h2>En cas de problème</h2>
<p>
  Il est possible que le mail ne soit pas dans votre boite de reception car il serait interpreté comme un spam. 
  Si vous ne recevez pas le mail d'activation dans les prochaines minutes, 
  verifiez dans votre boite de spams.
</p>
{% endblock %}
