<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% block title_left %}!!ProjectName!!{% endblock title_left %} - {% block title_rigth %}{% endblock title_rigth %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="author" content="!!AUTHOR!!" />

    <meta name="viewport" content="width=device-width; initial-scale=1.0" />

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
    
    
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    
    {% block link %}
    
    {% endblock link %}
    
    {% block css %}
    
    {% endblock css %}
    
    {{form.media.css}}
  </head>
  <body class="" data-offset="50" data-target=".subnav" data-spy="scroll">
    {% block body %}
    <div id="wrap">
      
      <nav id="sidebar" role="navigation" class="navbar navbar-fixed-top">
      {% block menu %}
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/" >{{SITE_NAME}}</a>
            {% block bar_content %}
            <ul class="nav">
    
            {% comment %}
              <!-- simple link to app1 page -->
              <li class="{% block app1_active %}{% endblock %}">
                <a href="{% url "app1:view1" %}">App1</a>
              </li>
                
              <!-- dropdown link to app2 -->

              <li class="dropdown {% block app2_active %}{% endblock %}">
                <a class="dropdown-toggle " data-toggle="dropdown" href="#">
                  App2
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url "app2:view1" %}">
                      app2.element1
                    </a>
                  </li>
                  <li>
                    <a href="{% url "app2:view2" %}">
                      app2.element2
                    </a>
                  </li>
                </ul>
              </li>
              
            {% endcomment %}
            
            {% comment %}
            {# uncomment to add a login/logout/changepassword menubar #}
            
            <ul class="nav pull-right">
              {% if user.is_authenticated %} 
                
                  <li class="dropdown {% block account_active %}{% endblock %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user"></i> mon compte : {{ user }}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{% url 'auth_password_change' %}"><i class="icon-repeat"></i> Changer mon mot de passe</a>
                      </li>
                      <li>
                        <a href="{% url 'auth_logout' %}"><i class="icon-off" ></i> Deconnexion</a>
                      </li>
                    </ul>
                  </li>
                  {% if user.is_staff %}
                    <li class="divider-vertical"></li>
                    <li>
                      <a href="{% url "admin:index" %}" >Administration</a>
                    </li>
                  {% endif %}
                
              {% else %}{# is autenticated #}
                
                  <li class="{% block login_active %}{% endblock %}">
                    <a href="{% url 'auth_login' %}">Connexion</a>
                  </li>
                
              {% endif %}{# is autenticated #}
            </ul>
            {% endcomment %}
            {% endblock bar_content %}
          </div>
        </div>
      {% endblock menu %}
      </nav>
  
      <div class="container">
        <div id="corps" class="container">
          {% block message %}

            {% if messages %}
            <div class="row">
              <div class="span12 ">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <p>{{message }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endblock message %}
          
          {% block pre_content %}
          {% endblock %}
          {% block corps %}
          <p> ceci est une page vide </p>
          {% endblock corps %}
        </div>
      </div>
      
      <div id="templateblock">
        {% block template %}{% endblock template %}
      </div>
      
      
      <div id="jsblock">
        
        {% block js %}
          <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
          <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        {% endblock js %}
        
      </div>
      <div id="forms_media">
        {{form.media.js}}
        {% block forms_media %}{% endblock forms_media %}
      </div>   
    </div> <!-- #wrap -->
    
    <footer id="footer">
      <div class="container">
      {% block footer %}{% endblock footer%}
        <p class="muted credit center">&copy; !!MyCompany!! {% if LOCAL_VERSION %} - version {{ LOCAL_VERSION }} {% endif %}
            
        </p>
        
        
      </div>
    </footer>
      
    
    {% endblock body %} 
  </body>
  
</html>
